body {
	width: 1920px;
    height: 1080px;
    margin: 0;
    position: fixed;
    overflow: hidden;
}
html {
	margin: 0;
  	padding: 0;
  	width: 1920px;
    height: 1080px;
}
.container {
	width: 100%;
}

button:focus {
	outline:0;
}


