
button {
  padding: 20px 40px 10px 40px;
  background: none !important;
  border: none !important;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #fff;
    transition: transform .2s;
  }
  &:after {
    transform: translate(3px, 3px) ; 
  }
  &:before {
    transform: translate(-3px, -3px);
  }
  &:hover {
    &:after, &:before {
      transform: translate(0);
    }
  }
  & p {
    color: $white !important;
    font-family: $serif;
    font-size: 16px;
    font-weight: 900;
  }
}

textarea, select, input, button, .btn, .btn-primary { 
  outline: none;
}

.btn{
  padding: 20px 40px 10px 40px;
}

button.close{
  padding: 4px 10px 10px 10px;
}

.hover{
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.dropdown:hover .hover{
  max-height: 100px;
  transition: max-height 0.75s ease-in; 
}

.drop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visit {
  display: flex;
  align-items: center;
  justify-content: center;
}

